html, body {
    height: 100%;
    /* This is used to define the height of my html so it can take up all available space*/
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #777;
    font-family: 'Muli', sans-serif;
    font-size: 0.938em;
}

header {
    height: 120px;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #009688;
}

.icon_01, .icon_02, .icon_03 {
    margin: 0;
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}

.icon_01, .icon_02, .icon_03:hover {
    opacity: .85;
}

ul {
    list-style: none;
}

h5 {
    font-size: 0.938em;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #FFFFFF;
    /* Nav Bar text box colour*/
    margin-top: 5px;
    overflow: hidden;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
}

nav ul li a {
    color: #455A64;
    font-weight: bold;
    /* Nav Bar text colour*/
    background-color: #FFFFFF;
    /*nav bar background colour*/
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav ul li:hover:not(.active) {
    color: #009688;
}

.active {
    color: #009688;
}

.page_title_banner {
    background-color: #607D8B;
    height: 80px;
    color: #ffffff;
    margin-top: -50px;
    padding-top: 30px;
    padding-left: 100px;
    margin-left: -80px;
    font-size: 1.500em;
}

p, h2 {
    display: flex;
    margin: 20px;
    font-size: 1.2em;
}

h2, p1 {
    margin-left: 327px;
    margin-top: -50px;
}


img {
    padding-right: 10px;
}

.page_wrap {
    min-height: 100%;
    /*this is set to be equal to the footer height*/
    margin-bottom: -142px;
}

.page_wrap:after {
    content: "";
    display: block;
}

.site_footer, .page_wrap:after {
    height: 142px
}

.site_footer {
    background-color: #455A64;
    color: #ffffff
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: #f8fafa;
}

#footer-information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 380px;
    text-align: center;
    margin-top: 10px;
}

#footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 520px;
    float: right;
}

#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}

#footer-links ul li {
    margin: 10px 0;
}

#footer-links ul li h5 {
    color: #ffffff;
}

#footer-links ul li a {
    color: #ffffff;
}
