*:focus {
    outline: none;
}


/* I used this focus to override the default styling used by webkit*/

html, body {
    height: 100%;
    /* This is used to define the height of my html so it can take up all available space*/
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #777;
    font-family: 'Muli', sans-serif;
    font-size: 0.938em;
}

header {
    height: 120px;
}

a {
    text-decoration: none;
    color: #444;
}
ul {
    list-style: none;
}
h2{
  border-bottom: 1px solid #777;
}
h5 {
    font-size: 0.938em;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color: #009688;
}
.icon_01, .icon_02, .icon_03{ /* This is the layout for the icons on each page*/
  margin: 0;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;

}
.icon_01, .icon_02, .icon_03:hover{
  opacity: .85;
}

nav {
    background-color: #FFFFFF;
    /* Nav Bar text box colour*/
    margin-top: 5px;
    overflow: hidden;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
  display: inline-flex;
  flex-wrap: wrap;
}

nav ul li a {
    color: #455A64;
    font-weight: bold;
    /* Nav Bar text colour*/
    background-color: #FFFFFF;
    /*nav bar background colour*/
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav ul li:hover:not(.active){
  color: #009688;
}
.active{
  color: #009688;
}

.Contact_form ul {
    /* This along with others css sections is used to better structure the form itself, this order anything within a ul element*/
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;

}

.Contact_form li {
    /* this section structures anything within a li element by adding spacing*/
    list-style-type: none;
    padding: 15px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.500em;
}

.Contact_form li:first-child,
.Contact_form li:last-child {
    /* This creates a line above & below the form. First li to the last li*/
    border-bottom: 1px solid #777;
    /* This is the style of border, thin, solid line*/
}

.Contact_form h2 {
    /*Basic style for anything under h2 tag*/
    margin: 0px;
    display: inline;
}

.required_notification {
    /* More basic styling to notifications*/
    color: #d45252;
    margin: -13px 0 0 0;
    display: inline;
    float: right;
}

.Contact_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.Contact_form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.Contact_form textarea {
    padding: 8px;
    width: 300px;
}

.Contact_form button {
    margin-left: 156px;
}

.Contact_form input, .Contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 70px;
    -moz-transition: padding .25s;
    /* style for various web browsers, each one has a different type of webkit, and uses different words*/
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.Contact_form h2, .Contact_form label {
    font-family: 'Muli', sans-serif;
}

.form_hint, .required_notification {
    font-size: 0.688em;
}


/* This block(above) of CSS is all about typography, font size, family for each section*/

.Contact_form input:focus, .Contact_form textarea:focus {
    /*I styled two areas with the same css*/
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.Contact_form input, .Contact_form textarea {
    padding-right: 30px;
}

.Contact_form input:required, .Contact_form textarea:required {
    background: #fff url("../img/Red_Asterisk.png")no-repeat 98% center;
}

.Contact_form input:focus:invalid, .Contact_form textarea:focus:invalid {
    background: #fff url("../img/invalid.png") no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}


/* when a field is considered invalid by the browser */

.contact_form input:required:valid, .contact_form textarea:required:valid {
    /* when a field is considered valid by the browser */
    background: #fff url("../img/valid.png") no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    /*hints stay above all other elements*/
    position: relative;
    display: none;
    /* I set display to none becuase I only want the hints to show the user focuses on the input fields*/
}

.form_hint:before {
    content: "&#x25C0";
    /*left point triangle in unicode*/
    color: #d45252;
    position: relative;
    top: 1px;
    left: -6px;
}

.contact_form input:focus+.form_hint {
    display: inline;
}


/* change form hint color when invalid */

.contact_form input:required:valid+.form_hint {
    background: #28921f;
}


/* change form hint color when valid */

.contact_form input:required:valid+.form_hint::before {
    color: #28921f;
}
/* Appearance of the button, in its default state*/
/*button styling, utilising the various webkits for each browser, giving the button shadow and colour*/

#button_01 {
    float: center;
    width: 240px;
    height: 80px;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #009688;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.500em;
    padding-top: 15px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 200;
    text-align:center;
}


/*Appearance of the button when hovered over, it turns it slightly opaque*/

#button_01:hover {
    opacity: .85;
    cursor: pointer;
}


/*Appeareance of the button when clicked, not much changes */

#button_01:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*Everything below this is point is to do with the footer of the site
and as such it is the same on ALL CSS pages*/
.page_wrap {
    min-height: 100%;
    /*this is set to be equal to the footer height*/

    margin-bottom: -142px;
}
.page_wrap:after {
    content: "";
    display: block;
}
.site_footer, .page_wrap:after {
    height: 142px
}
.site_footer{
  background-color: #455A64;
  color: #ffffff

}
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: #f8fafa;
}
#footer-information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 380px;
    text-align: center;
    margin-top: 10px;
}
#footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 520px;
    float: right;
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 10px 0;
}
#footer-links ul li h5{
  color: #ffffff;
}
#footer-links ul li a {
  color: #ffffff;
}
